<html>
<head>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>

#parse("/templates/nav.vtl")

<div class="container center-align row">
    <h1 class="s12">Welcome, $loggedIn!</h1>

    <div class="divider"></div>

    #if(!$judge)

        <div class="col s6">
            <h1>Problems</h1>
            <ul class="collapsible" data-collapsible="accordion">
            #foreach($problem in $problems)
                <li>
                    <div class="collapsible-header">$problem.getName()</div>
                    <div class="collapsible-body">
                        $problem.getDescription().replaceAll("\n", "<br/>")
                        <br/>
                        #parse("/templates/file.vtl")
                    </div>
                </li>
            #end
            </ul>
        </div>

        <div class="col s6">
            <h1>Clarifications</h1>
            #parse("/templates/clarification.vtl")
        </div>
    #end



</div>

<script type="text/javascript" src="js/materialize.min.js"></script>
<script>
    \$(document).ready(function(){$('.collapsible').collapsible();});
</script>
</body>
</html>