<html>
<head>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>
<body>

<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">Sentinel Online Judge</a>
        <ul class="left hide-on-med-and-down">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="leaderboard">Leaderboard</a></li>
        </ul>
    </div>
</nav>

<div class="container center-align">
    <h1>Logged In</h1>
    <ul class="collapsible" data-collapsible="accordion">
    #foreach($problem in $problems)
        <li>
            <div class="collapsible-header">$problem.getName()</div>
            <div class="collapsible-body">$problem.getDescription().replaceAll("\n", "<br/>")</div>
        </li>
    #end
    </ul>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>
    \$(document).ready(function(){$('.collapsible').collapsible();});
</script>
</body>
</html>