<html>
    <head>
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    </head>
    <body>

        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo center">Logo</a>
                <ul class="left hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="leaderboard">Leaderboard</a></li>
                </ul>
            </div>
        </nav>
        <div class="containter center-align">
            <h1>Log In</h1>
            <div class="row">
                <form class="col s6 offset-s3" id="login" action="/login" method="post">
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="name" placeholder="Name" id="name" type="text" class="validate  #if($failed=="name")invalid#end">
                            <label for="name" data-error="Incorrect Username">Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input name="password" id="password" type="password" class="validate #if($failed=="password")invalid#end">
                            <label for="password" data-error="Incorrect Password">Password</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
                </form>
            </div>
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
</html>