<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Sentinel Online Judge</a>
        <ul class="left">

            <li #if($home)class="active"#end><a href="/">Home</a></li>

            <li #if($leaderboard)class="active"#end><a href="leaderboard">Leaderboard</a></li>

        </ul>
        <div class="brand-logo right">$loggedIn</div>
    </div>
</nav>